<div>
    Hello: <span id="msg"></span>
</div>
<script>
//    axios.post("/auth/login", {email: "sam@sam.com", password: "nice" })
//    .then(function(response) {
//        console.log(response);
//        localStorage.setItem("token", response.data.token);
//
//    })
axios({
    method: "get",
    url:"/api/test",
    headers: {
        "Authorization": "Bearer "+ localStorage.getItem("token")
    }
})
.then(function(response) {
    console.log(response);
    var elem = document.getElementById("msg");
    elem.innerHTML = response.data;
    var payload = JSON.parse(window.atob(localStorage.getItem("token").split('.')[1]));
    console.log(payload)
})
.catch(function(err) {
    console.error(err);
})
</script>